{% extends 'base.html.twig' %}

{% block title %}HOMEPAGE{% endblock %}

{% block body %}
    {% import "macros/macro_navbar.html.twig" as nav %}
    {{nav.navbar()}}

    <div>
        <h1><i class="bi bi-journal-bookmark-fill" style="font-size: 3rem;"></i>Brand.</h1>
        <div>
            <h5>CERCA</h5>

            <div>
                <twig:CercaLibroHome />
            </div>
        </div>
    </div>
            <hr>
    {# grid #}
    <div>
        <h2>La nostra libreria</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit excepturi hic ratione doloribus illo aperiam rerum natus soluta optio temporibus, laudantium, iste recusandae incidunt sapiente mollitia itaque autem esse ullam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, veniam quam. Reiciendis vero odio quod error totam laudantium nostrum at! Beatae est quam labore, veritatis recusandae ullam mollitia vero quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolor molestiae, omnis asperiores fugit dignissimos in delectus aperiam necessitatibus nobis recusandae, natus non eveniet ipsum pariatur! Qui fugiat repellendus voluptatum? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam inventore, corrupti fuga quaerat incidunt eos ex deleniti aperiam illo laudantium ipsam dolorem non magnam beatae assumenda placeat ipsa. Animi, magni.</p>
        <img src="#"/>
        <img src="#"/>
        <img src="#"/>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta unde provident non voluptates tempore suscipit accusantium quis aut totam. Nemo sapiente voluptas cupiditate veritatis modi iste numquam aliquam temporibus omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque reiciendis harum placeat aliquid excepturi soluta obcaecati at quidem facilis aut pariatur minus nostrum voluptas voluptatibus corporis, minima impedit nam fugit.</p>
    </div>
    <hr>
    <div>
        <h5>Eventi:</h5>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Presentazione nuovo sequel</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum esse ex cum error dolor, aliquid quibusdam nesciunt delectus sapiente quae facilis perferendis ipsa velit voluptates blanditiis minima, modi ratione hic.</p>
                <a href="#" class="btn btn-primary">Scopri di più</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Firma copie</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, expedita maiores atque, dolore sed commodi in qui tempore suscipit possimus sit magnam! Labore a quod similique quibusdam voluptatum repellendus odit.</p>
                <a href="#" class="btn btn-primary">Scopri di più</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gadget in esclusiva!</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At reprehenderit suscipit quas quos ipsa porro fugiat deleniti ad, deserunt asperiores debitis cum voluptatum tempore incidunt? Magnam modi unde non laudantium.</p>
                <a href="#" class="btn btn-primary">Scopri di più</a>
            </div>
        </div>


{% endblock %}
