/* font */

.clean {
    list-style-type: none;
}

.clean-a {
    text-decoration: none;
    color: black;
}

/* CSS VARIABLE FOR BOOTSTRAP */
/* body {
    color: var(--bs-blue);
} */

.in-linea{
    display: inline;
}

.small-text {
    font-size: smaller;
}

/* display */

.not-hidden {
    display: inline-block;
}

.w-10 {
    width: 10%;
}

/* immagini */

.bkg-biblioteca {
    background-image: url('../images/book-wall.jpg');
}

#footer {
    /* height: 200px; */
    margin: 0px;
    /* width: 100%; */
}

body {
    margin: 0;
}